body {
	font-size: 1.0em;
	background: #719301 url(../images/endgamebk.png) repeat-x;
	margin: 0px;
}
#wrapper {
	background: #FFFFFF url(../images/endgamecontainerbk.jpg) repeat-y;
}
#header {
	background: url(../images/endgameheader.jpg) no-repeat left top;
	height: 362px;
	width: 824px;
	clear: both;
}

.break {
	clear: both;
}


#content {
	width: 824px;
	margin: 0px;
	padding: 0px;
	background: url(../images/endgamecontainerbk.jpg);
}
#container {
	margin: 0px auto;
	padding: 0px;
	width: 824px;
	background: url(../images/endgamecontainerbk.jpg);
}
#footer {
	background: url(../images/endgamefooterbk.jpg) no-repeat left top;
	height: 35px;
	width: 799px;
	margin: 0px;
	padding-top: 55px;
	padding-left: 25px;
	font: bold 0.70em Arial, Helvetica, sans-serif;
	color: #99CC00;
}
#right {
	font: 0.87em/1.25em Arial, Helvetica, sans-serif;
	width: 530px;
	margin: 0px;
	padding-right: 30px;
	float: right;
	padding-top: 8px;
	padding-bottom: 12px;
}
#trailermain {
	width: 700px;
}
#trailermain {
	width: 700px;
	margin: 0px;
	padding: 8px 8px 8px 50px;
}
#slideshow {
	width: 600px;
	margin: 0px;
	padding-top: 12px;
	padding-bottom: 16px;
	float: left;
	padding-left: 108px;
}

p {
	margin: 0px;
	padding: 0px 0px 8px 8px;
}
.home {
	font: 0.78em Arial, Helvetica, sans-serif;
}


#left {
	width: 235px;
	margin: 0px;
	padding: 12px 0px 10px 20px;
}

#column2 {
	float: left;
	width: 500px;
}

#column1 {
	float: left;
	width: 300px;
}
img.left {
	margin: 0px;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 0px;
}
.newsheadline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}
a:link {
	color: #485C01;
	text-decoration: none;
}
a:visited {
	color: #666666;
	text-decoration: none;
}
a:hover {
	color: #0C2C1C;
	text-decoration: none;
	background: #F9FE92;
}
a:active {
	color: #FFFFFF;
}
.breakpara {
	clear: both;
}
.greenline {
	background-image: url(../images/greenboxline.png);
	background-repeat: repeat-x;
	height: 1px;
	width: 518px;
	clear: both;
	margin: 6px 0px 6px 8px;
	padding: 0px;
}
#breadcrumb {
	float: left;
	width: 300px;
	font: bold 0.75em Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 8px 0px 6px 30px;
}

.videobox {
	width: 525px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	text-align: left;
}
#banner {
	margin: 0px;
	height: 88px;
	padding: 12px 0px 0px;
}
